body {
  font-family:fantasy;
}

img {
height:200px;
width:200px;
}

.logo {
  display: block;
}

h1 {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #263789;

}


.logo {

  height:250px;
  width:250px;
  }
